[submodule "manager"]
	path = manager
	url = https://github.com/telezoic/supplejack_manager.git
[submodule "worker"]
	path = worker
	url = https://github.com/telezoic/supplejack_worker.git
[submodule "api"]
	path = api
	url = https://github.com/telezoic/supplejack_api_app.git
[submodule "solr"]
	path = solr
	url = https://github.com/telezoic/supplejack_solr.git
